.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.sidemenuwrap {
  width: 85%;
  height: 100vh;
  background-color: var(--ssg-point-secondary);
  position: absolute;
  top: 0;
  left: -85%;
  z-index: 200;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  
}

.sidemenuwrap.open {
  left: 0;
  transition: all 0.3s ease-in-out;
  background-color: fff;
}


.login_signup {
  padding: 18px 20px 24px;
}


.login_txt{
  font-size: 18px;
  line-height: 26px;
  display: inline;
  font-weight: 600;
}

.btn_box {
  display: flex;
  margin-top: 25px;
}

.btn_box a {
  border-radius: 8px;
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 14px;
  justify-content: center;
  place-items: center;
  padding-top: 12px;
  line-height: 24px;
  font-weight: 1000;
}

.btn_primary {
  padding-top: 6px;
  background: linear-gradient(110deg,#f40000 -5.78%,#ff8a00 17.06%,#f8b404 33.44%,#f9ad05 48.81%,#ff8a00 64.68%,#b258cb 85.01%,#00c4b4 103.04%);
  /* background: var(--ssg-point-primary-gradient); */
  color: #000;
}

.btn_sub {
  padding-top: 6px;
  color: #fff;
  background: #000;
  margin-left: 8px;
}

.btn_white {
  padding-top: 6px;
  color: #000;
  background: #fff;
  border: 1px solid #bcbcbc;
}

.side_fav{
  position: relative;
  background: #fff9ea;
  box-sizing: border-box;
  padding: 26px 0 24px;
}

.side_fav img {
  width: 40px;
  height: 40px;

}

.side_fav_list {
  display: grid;
  grid-template-columns: repeat(3, 0.7fr);
  align-items: stretch;
  justify-content: center;
  width: 100%;
  padding : 0 10px;
}

.fav_menu_box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  font-size: 11px;
  font-weight: 600;
}

.select_fav_box {
  position: relative;
  margin: 0 24px;
  height: 80px;
  padding: 15px 0 0 58px;
  border: 1px dashed #e5b22f;
  /* outline: solid red; */

}

.ico_btn {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: 1px solid #f8b404;
  border-radius: 50%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAZ+SURBVHgB7VnPix1FEK7qmUkiGFj/gmwOXhQ0ngIKEv8B8SQI/khEz64XQRCyQUgOHtygXs16ziWCeE0QQfSSHBRv7ouXqJes4gb3zXSXVdXdMz0/Xnbevre7l1TyUT09s+99X3VVzfQ8gEd2tIZDk+Wrr18EtGtgpiuQTYFwl6+cBpRAwJ4EpYer2FtGBSTeWfaOjxkQPBKPyXuB4UPjPWa0DRlsnvgS3odFBZSvvfEpYMXkmRiTZxFAZtoSACIAWIgKqAKsgmTsEuLqiYPg+MsofGsUIODzGQQhsH78c7gEc1jen6nOe/IMUymQj0nGGABWgYEkRU+ebI1ImD2mIYvIyHsRwiIogzUeLSYA8+kK5VFAIwTRiyH05BUYohwijSoiId8SEYlTI8A0QC9iBea0/gocn/KHMVEhnlVehEQ/89EXIV6EUxGkYgJRRyFNInlozgG1oy8WasCvRsCiAqgIUU8FxHRi4kq+RshxaHJ9ZvSjmDr61FsFxaICoJh64nkgLV7I6qok5MF7rAWQ/msiDomIWLzhO7SIEwEYUmgpAo4FASmSFAKTRB898bgCCA6gK6I2SgRAuw5Sv7CAouwIsLUANDGFXBuxv7ciTk3vJ2pHH6GPpa1AziuQW09cUQYRHmi8ADIhddD1CcOM1IljTAQZ6Bf3YgLKtoC8Ie+FOJ/7Jr27hnvBUOq0iFH7eGglFhcQUkdFUBAicy4IoaQI4ypw+8T+KqiUNNrxWNwsEYsKQEmZ3PmOI6QFuWuirwjkMXiTPCLU9QD+nlATo5p8Tbzrl7IC+vjAHSUTER3iWSIgplAdvbQWuuQ68wcrIOS7pIXxaURxJbJAOnoVE8lDI4igHe2HtUjTEbKwALRJrvsugyHq8kSpdWE65DHxUUgqaGhVYOB4aSuASYSz0Cr1gSvOiRgIaQTtCGPSOrFzDDPI7zP6wwLiwxkmbbLVeYQ8NQ9iJl4TMgdDI01yWufieBZ53J+OAQGReCzK0BDjTqrV9mKrjOxEHEK9YQnnqBk21m2nqZiFBVBCPPZ0csk1iZj0Tipm0tbZDit1o4313cILWYaAFun0sTjJcRr8ItQaIYOtvMf6cwH+3gH47DrBd7cBJn8A3L3nr1s5CfDskwAvv6iHpxh3YaT1qEyvniQo+INzBnsSiXk4zqje/mkhp8/xsejTFAt290+Ady87Jk4w0jYZ62OE9J//6j2tOPQb8jhFCMmeq7m8rhWsd79xQyYRP/u2nYe82HnGHcZ7e104kEKgyUqJkHp/Ul8TW02TWvHv6vP8/+NrFi5fc7BPk/3xRvCXYLQASqS4dIeIzVwsXhUKoX+2P+eL6wuRT22dsc24OnRyMIXICcL+ilD3WupdGEMY16llfHoFP7mHcGVzKeRTEadgjAAhlua8E2IOw3w6NuwjeM4asAKXweXNCrb/3Tvnt7a2FCNM0mhz6ESvC+188jhRAZpc2oEKDI/XqMekewT/lyQvo+o9LWpq/f4XwXNv7sAYI4r3gNE3gCfAp1NtvRWQCKeQt4SWvXXyyhMDONIk0fYRr1zOyBTffG/hAK3XlfoCwKdNDReRBSFMlAVUVdZCKd7m8O0PFRygnetO9LpQXZxht6j5boMwVYiaTnKNnst8y9QVY//Lbwe6Aqvdid4KWPJkHIWitFmAH1fWR7usCh376OcetoB/doaLV4qV9KbYIFp3/iGFvdqd6K+AtELnc12jbuO7N6OdyRkWogWLWsCkY7PNr8bXHjwwX/Ol9+EQrSdACtOhJ+gURl+kS9usmKwTwkauAX+NwQk/Jp176p2t+NwygYFInT59uvfl++hC23sLCN1FyFmOuqYSk7ZCWhGEyeoYc8M8Nr3wzIVJ+sGTIQFLsjuwlwBphRp1G+pAIq8+42L2K1IxeGrj7NqvQz8J3YKBbrEku9Gd6BexK7ZLm2tvFz/VAi2gLHPYLQv4jz0X7toM8mJX4eBsbwGVww3pLlPuKLv2GAtgMPHdaSECJhaOnXn+g58fRlLS6RaMsMlkohhpmzCwP+hVz+311RVTFjcryM5Ybi0Va+Sx4M7xE+6VFz66PWa3tCofBTD/T0YzTIJyBsYIiPbjh0+/VVFxrmTyhNmtl6789BXMZ3Lb34DlmPz4d5CpOdMuQv99+7y4CEdsshL3YX7i92HElvKwbJVxDcaTvwkzNjBHbavgoyoE01XZCnOSLssq/Ed2KPY/j2s9zvIF9T4AAAAASUVORK5CYII=) left 8px center no-repeat;
  background-size: 24px auto;
  overflow: hidden;
}

.select_txt {
  font-size: 12px;
  
}

.fav_sel_txt {
  margin: -3px 2px 0 0;
  font-weight: 700;
  letter-spacing: -.5px;
  padding-right: 4px;
  z-index: 1;
  background-color: #ffdfb5;
}



.shortcut_menu_box {
  padding: 40px 20px 0;
}

/* .shortcut_menu_box h3 {
  padding: 0 0 8px 0;
  font-size: 16px;
  font-weight: 1000;
  line-height: 26px;
  border-bottom: 1px solid #000;
} */



.menu_list li {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
  padding: 20px 0 0 0;
}

.menu_list li a {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
}



.close_btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDYuMC1jMDA2IDc5LjE2NDc1MywgMjAyMS8wMi8xNS0xMTo1MjoxMyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIDIyLjMgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjk0QzNFQjMyRDg2RjExRUJCRkIyQjQwMjZENTc1N0IyIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjk0QzNFQjMzRDg2RjExRUJCRkIyQjQwMjZENTc1N0IyIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6OTRDM0VCMzBEODZGMTFFQkJGQjJCNDAyNkQ1NzU3QjIiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6OTRDM0VCMzFEODZGMTFFQkJGQjJCNDAyNkQ1NzU3QjIiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5IsIiHAAABjUlEQVR42szYv0oDQRAG8M1EUqQ7fYN7ELE3xKBEK9to4eNY+ArGRpPCxmewsRJ8BMXaBNRvcAMh3G32z+yOA99lc3uEH7O5Y7lOXdcnxphrZIFcIo9Gtw6RG2QHueoA+I7Bnp1k5BiZKeGGyB3Ss98/CIfl2gU9e8HwH+C4lgyc2M5pIptwbJowcI6cKSLbcGyakz1xr4R04dhkaG2iNHIrbhNYEumFawKWQHrj2oA5kUE4FzAHMhi3DSiJjML5ACWQ0ThfYAoyCRcCjEEm40KBIUgRHBdvt2IeFyPktgEwtmMRXArQhTRSuJgl9lluMVwqsA0phpMAcv045r5TfzwVeIRMN5ZVdINBwriF9AaDhHH8nzuVRJIwjm+IB0kkCeNWJYakDDhRJGXCiSEpI04ESZlxyUgqgEtCUiFcNJIK4qKQVBgXjCQFXBCSlHDeSAYOlHA+yEG3qqonDHaVcKt6RV6QY6Rrz/HnPnewr4xzdbLPHXzD4AD5RM7N3ythreJOPnPnkC/k4leAAQBJi9di9UbvkAAAAABJRU5ErkJggg==) 50% no-repeat;
  background-size: 14px auto;

}

.acco_arrow {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 20px;
  width: 12px;
  height: 8px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAgCAYAAAABtRhCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDYuMC1jMDA2IDc5LjE2NDc1MywgMjAyMS8wMi8xNS0xMTo1MjoxMyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MDJDOTQyOUJEOEFFMTFFQkIxMkVFNTBBNTUwMUEzNkEiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MDJDOTQyOUFEOEFFMTFFQkIxMkVFNTBBNTUwMUEzNkEiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIDIyLjMgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QjQwNzdEMzZEODkwMTFFQkFBQjBBOEYyQkJDRjhFMTciIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6QjQwNzdEMzdEODkwMTFFQkFBQjBBOEYyQkJDRjhFMTciLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz59wwSHAAABrklEQVR42rzXu07DMBQGYMdkQki8QyRmnoH3AAptKQVRKAMDGxNioVzErbQFHoq1r8AAYg7/qY4ly0p8i4WlX1XSNF9tx8dtVhTFpRBigIyRM6QU6ZpEbpFd5Ho+n19kAH9xsMwXvCCHiVDCpoxR+wa4Sidn2kV95BnJGmJLBib4votvcYK8aW/sN0QJmxjYE3KuQBq+biK0DjtS0yT5ZArUielgU9QLM0EdnQWg3lgVqNA9T7QKe6zD6kBftA4b2NaxtMxLHUrFIa9YZ05M8AeFB0qtw689ZANZC8VcPTTRqXZOxx58MV9QoT0DVdhxSO3NA6qIQn+QHeSVy1VQoafdQvxXw27hPaT6uqMHhLa0m5gCnwdiVPa2+XiIrPAwew+rjMRU6/JcZinBKuwzFpUR2D2yzkgwmjuwd2TLwIY8Z32t8ihUuOZURmJCQ82eTmw9lZGYsKAdGyobYFGobIiZ6NiFSgt254np6EEFOtXRnLEPZNPATiN+gStUbdbU2toDVUreYlJgtp62ufYuhrSVELOhLQWS/IVcJcJMdMT3Hy32w7JM+e/M3f4EGACIfKHpRUsOYgAAAABJRU5ErkJggg==) no-repeat;
  background-size: 100% auto;
  background-position: 0 -7px;
  opacity: .5;
  text-indent: -999em;
  font-size: 0;
  line-height: 0;
  color: transparent;
  overflow: hidden;
}

.btn_outbox {
  display: block;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  height: 48px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding: 12px;
  box-sizing: border-box;
  color: #000;
  background: #fff;
  border: 1px solid #bcbcbc;
}

.btn_mybox {
  margin-left: 5px;
  height: 36px;
  font-size: 12px;
  border-radius: 6px;
  color: #fff;
  background: #000;
  display: block;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  align-items: center;
  height: 48px;
  justify-content: center;
  place-content: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding: 12px;
  box-sizing: border-box;
}